<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> David Vela </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Card Section -->
  <ion-card style="margin: 5% 1%">
    <ion-card-header>
      <ion-chip style="flex: content; justify-content: center">
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="https://avatars.githubusercontent.com/u/92609657?s=30&v=4"
          />
        </ion-avatar>
        <ion-label>David Vela</ion-label>
      </ion-chip>
      <ion-card-subtitle>Desarrollador web Full Stack</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Innovador tecnológico en constante evolución, con experiencia
      multidisciplinaria en desarrollo web, IoT, análisis de datos, gestión de
      proyectos de software e inteligencia artificial. Mi pasión por la
      tecnología impulsa mi aprendizaje continuo y mi búsqueda de nuevos
      desafíos en el sector.
    </ion-card-content>
    <ion-card style="padding: 5% 10%">
      <!-- datos de contacto -->
      <ion-list>
        <ion-item>
          <ion-label>Quito Ecuador</ion-label>
          <ion-badge color="success"
            ><img src="assets/dv/location.svg" style="width: 15px"
          /></ion-badge>
        </ion-item>
        <ion-item>
          <ion-label> linkedin.com/in/davidvela306/</ion-label>
          <ion-badge color="secondary"
            ><img src="assets/dv/linkedin.svg" style="width: 15px"
          /></ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>github.com/Davidvela-306</ion-label>
          <ion-badge color="black"
            ><img src="assets/dv/github.png" style="width: 15px"
          /></ion-badge>
        </ion-item>
      </ion-list>
      <!-- espaciado -->
      <div style="height: 50px"></div>
      <ion-title size="large">Mis tecnologías:</ion-title>
      <div style="height: 20px"></div>
      <!-- Mis lenguajes -->
      <ion-chip color="primary">TypeScript</ion-chip>
      <ion-chip color="tertiary">ReactJS</ion-chip>
      <ion-chip color="success">Bash</ion-chip>
      <ion-chip color="warning">Linux</ion-chip>
      <ion-chip color="danger">Java</ion-chip>
      <ion-chip color="warning">Python</ion-chip>
      <ion-chip color="medium">JavaScript</ion-chip>
      <ion-chip color="secondary">Dart</ion-chip>
      <ion-chip color="dark">C++</ion-chip>
    </ion-card>
    <!-- espaciado -->
    <div style="height: 50px"></div>
    <ion-title size="large">Formación y experiencia:</ion-title>
    <div style="height: 20px"></div>
    <!-- Acordeón -->
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>Experiencia Profesional</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <ion-label>Desarrollador Front End | ADIS Ingenieros</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Desarrollador Full Stack | DUDU Solutions</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Desarrollador Móvil | ReciVeci</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>

      <ion-accordion>
        <ion-item slot="header">
          <ion-label>Educación</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <ion-label
              >Tecnología Superior en desarrollo de software | Escuela
              Politécnica Nacional</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-label
              >Curso “Desarrollo Web Moderno, fullstackopen” | Universidad de
              Helsinki
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
