ion-title {
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

ion-card-title {
    font-size: 30px; 
    font-weight: bold; // Peso de la fuente
    //color: #333; // Color del texto
}
ion-card-header {
    display: flex;
    flex-direction: column; // Para centrar verticalmente
    align-items: center; // Centra horizontalmente
    justify-content: center; // Centrar completamente
    padding: 10px; // Espacio alrededor del contenedor
}

.profile-image {
    width: 80px; // Tamaño ajustable de la imagen
    height: 80px;
    border-radius: 50%; // Hace la imagen circular
    margin-bottom: 10px; // Espacio entre la imagen y el subtítulo
}

.social-networks {
    display: flex;
    justify-content: center; // Centra los iconos horizontalmente
    margin-top: 10px; // Espacio entre el subtítulo y los iconos
    padding: 50px; // Espacio alrededor del contenedor
}

ion-card-subtitle {
    text-align: center; // Centra el subtítulo
    font-size: 14px; // Ajusta el tamaño del texto si lo necesitas
    color: #333; // Cambia el color del texto si es necesario
}

h5 {
    font-size: 24px;
    font-weight: bold;
}